 
 /* agir sur les paragraphes*/
 p {
    color: dark;
    font-family:Arial, Helvetica, sans-serif; /*police du paragraphe*/ 
    font-size: 1em; /*taille du texte*/ 
    font-style: italic;
    font-weight: normal; /*mettre le texte en gras, bold ou thin*/ 
    text-decoration: none;  /*underline(souligner), line-through(barré), none(normal)*/



}
/* agir sur les titres*/

h1 {
    color:green;
    text-align: center; /* aligenlent de texte, center, left, right, justify*/ 
    
}

/* agir sur les listes*/
li {
    color: red;
    font-size: 1.75em; /*taille du texte*/
    font-weight: thin;
    
}

/* ou encore mettre plusieurs ensembles et séparés par des virgules*/
h2,h3,h4,h1,h5 
{
    color: green;
    text-align: center;
    font-size: 2em; /*taille du texte*/
    font-weight: thin;
}
.ma-classe {
    color: dark;
}
.cls{
    font-weight: bold;
}